.calulater{
    width: 320px;
    margin: 100px auto;
}
#answer{
    background-color: rgb(232, 250, 244);
    padding: 10px;
    font-size: 35px;
    width: 295px;
    height: 45px;
    text-align: right;
    border: 3px solid cornsilk;
}
.button{
    background-color: black;
    height: 80px;
    width: 80px;
    color: white;
    font-size: 30px;
    border:1px soid black;
    float: left;

}
.button1{
    width: 160px;
}